<header>
    <!-- Navigation -->
    <nav>
        <!-- Home Link -->
        <a href="#" matRipple aria-label="Home" tabindex="0">
            <!-- Logo Image -->
            <img class="logo" src="../../assets/logo.png" alt="Logo" />
        </a>
        
        <!-- Main Title -->
        <h1 class="main-title">{{title}}</h1>
        
        <!-- Top Navigation Links -->
        <div class="topnav">
            <a *ngFor="let item of list" [class]="item" href="#" matRipple [attr.aria-label]="item" tabindex="0">{{item}}</a>
        </div>
    </nav>
</header>